<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/youngnamwoo/Desktop/Exercise/20131114_ALGO_FUNNYCHESS/20131114_ALGO_FUNNYCHESS.xcodeproj</string>
</dict>
</plist>
